@import '@fontsource/anton';
@import '@fontsource-variable/inter';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .font-outline-1 {
        -webkit-text-stroke: 1px white;
    }

    .font-outline-2 {
        -webkit-text-stroke: 2px white;
    }

    .font-outline-primary-1 {
        -webkit-text-stroke: 1px #475531;
    }

    .font-outline-primary-2 {
        -webkit-text-stroke: 2px #475531;
    }
}

html {
    scroll-behavior: smooth;
}

.mycontainer {
    width: 100%;
    max-width: 1274px;
    margin: 0 auto;
    padding: 0 15px;
  }
  
  @media (max-width: 576px) {
    .mycontainer {
      padding: 0 10px;
    }
  }
  
  @media (max-width: 768px) {
    .mycontainer {
      padding: 0 20px;
    }
  }
  
  @media (max-width: 992px) {
    .mycontainer {
      padding: 0 30px;
    }
  }
  
  @media (max-width: 1200px) {
    .mycontainer {
      padding: 0 40px;
    }
  }
  